:root {
  --custom-color: #c70039; /* Default color */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--custom-color);
  opacity: 0.8;
}

::-webkit-scrollbar-track:hover {
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}

body {
  background-color: #101010;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 769px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.red-color {
  color: #c70039;
}

.pt-10 {
  padding-top: 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer p {
  color: white;
  text-align: center;
  background-color: #080808;
  padding: 20px 0;
  font-size: 22px;
  width: 100%;
}

.change-color {
  position: relative;
  z-index: 1000;
}
.change-color .color-section {
  position: fixed;
  top: 50%;
  right: 0;
}
.change-color .color-section .change-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-color .color-section .change-icon i {
  color: black;
  font-size: 30px;
  animation-name: loop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.change-color .color-section .background-colors .background-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  row-gap: 10px;
  background-color: white;
  width: 100px;
  padding: 15px 0px 5px 5px;
}
.change-color .color-section .background-colors .background-content div {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.change-color .color-section .background-colors .background-content .first__color {
  background-color: #c70039;
}
.change-color .color-section .background-colors .background-content .second__color {
  background-color: #481380;
}
.change-color .color-section .background-colors .background-content .third__color {
  background-color: #00909e;
}
.change-color .color-section .background-colors .background-content .fourth__color {
  background-color: #04a777;
}
.change-color .color-section .background-colors .background-content .fifth__color {
  background-color: #035aa6;
}
.change-color .color-section .background-colors .background-content .sexth__color {
  background-color: #dd7631;
}

@keyframes loop {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes sectionLoad {
  0% {
    background-color: var(--custom-color);
    z-index: 10000;
  }
  100% {
    background-color: var(--custom-color);
    z-index: 0;
  }
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
header .logo {
  z-index: 2000;
  padding-top: 15px;
}
header .logo img {
  width: 80px;
  height: 80px;
}
header .logo img:hover {
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
@media (max-width: 600px) {
  header .logo img {
    display: none;
  }
}
header .bar-home {
  width: 80px;
  height: 40px;
  z-index: 1;
  position: relative;
  margin-top: 40px;
}
header .bar-home:hover {
  cursor: pointer;
}
header .bar-home .first-bar {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: white;
  top: 0;
  right: 15px;
}
header .bar-home .first-bar:hover {
  width: 40px;
}
header .bar-home .second-bar {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 10px;
  right: 15px;
}
header .bar-home .second-bar:hover {
  width: 40px;
}
header .bar-home .third-bar {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: white;
  top: 20px;
  right: 15px;
}
header .fa-xmark {
  color: white;
  font-size: 60px;
  margin-top: 20px;
  cursor: pointer;
}
header .header-links {
  position: relative;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}
header .header-links nav ul li {
  padding-top: 30px;
  text-align: center;
}
header .header-links nav ul li a {
  z-index: 100;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: space-between;
}

.home__page:hover + .home__link {
  display: block;
}

.about__page:hover + .about__link {
  display: block;
}

.blog__page:hover + .blog__link {
  display: block;
}

.portfolio__page:hover + .portfolio__link {
  display: block;
}

.contact__page:hover + .contact__link {
  display: block;
}

.link-edit {
  display: none;
  position: absolute;
  color: white;
  font-size: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  text-transform: uppercase;
  z-index: 0;
}
@media (max-width: 600px) {
  .link-edit {
    font-size: 70px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .link-edit {
    font-size: 120px;
  }
}/*# sourceMappingURL=header.css.map */