$color-red: #c70039;
$color-purple: #481380;
$color-malt: #00909e;
$color-green: #04a777;
$color-blue: #035aa6;
$color-orange: #dd7631;
$page-color: #101010;

:root {
  --custom-color: #c70039; /* Default color */
}
